{% extends 'base.html' %}

{% block content %}
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        {% include 'inc/header.html' %}
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        {% include 'inc/sidenav.html' %}
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Customer Checkouts</h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Cashier Portal</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Checkouts</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% for checkout in checkouts %}
                        <div class="row justify-content-center">
                            <div class="card p-4 justify-content-lg-start col-lg-6 col-12">
                                <h3>#{{ checkout.cart_reference }}</h3>
                                <p class="mb-1">{{ checkout.created_at }}</p>
                                <p>Total Amount: GHS{{ checkout.total_price }}</p>
                                <button href="{% url 'checkout_details' ref=checkout.cart_reference %}" class="btn btn-sm btn-success">Checkout</button>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>


{% endblock content %}