{% extends 'base.html' %}

{% block content %}
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        {% include 'inc/header.html' %}
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        {% include 'inc/sidenav.html' %}
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Customer Checkouts</h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Cashier Portal</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Checkouts</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if checkouts %}
                        <div class="row">
                    {% for checkout in checkouts %}
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-header d-flex">
                                        <h4 class="mb-0">#{{ checkout.cart_reference }} <i class="fas fa-check-circle"></i></h4>
                                        <div class="ml-auto">
                                            <a class="toolbar" href="{% url 'delete_checkout' ref=checkout.cart_reference %}" role="button" id="dropdownMenuLink5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-trash"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">{{ checkout.created_at }}</p>
                                        {% if not checkout.visited %}
                                        <a href="{% url 'checkout_details' ref=checkout.cart_reference %}" class="btn btn-primary">Checkout</a>
                                        {% else %}
                                         <a href="{% url 'checkout_details' ref=checkout.cart_reference %}" class="btn btn-primary">Revisit</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock content %}