{% extends 'base.html' %}

{% block content %}
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        {% include 'inc/header.html' %}
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        {% include 'inc/sidenav.html' %}
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    {% for checkout in checkouts %}
                        <div class="card pb-4 justify-content-lg-start">
                            <h3>{{ checkout.cart_reference }}</h3>
                            <p>{{ checkout.created_at }}</p>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>


{% endblock content %}