{% extends 'base.html' %}
{% block content %}
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        {% include 'inc/header.html' %}
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        {% include 'inc/sidenav.html' %}
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Welcome {{ request.user.first_name }}({{ request.user.role }}) </h2>
                                <span>Happy Selling!😊🥳</span>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Summary</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget">

                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-inline-block">
                                            <h5 class="text-muted">Shop Total</h5>
                                            <h2 class="mb-0">₵{{ shop_total }}</h2>
                                        </div>
                                        <div class="float-right icon-circle-medium  icon-box-lg  bg-brand-light mt-1">
                                            <i class="fa fa-money-bill-alt fa-fw fa-sm text-brand"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-inline-block">
                                            <h5 class="text-muted">Total Earned for the Day</h5>
                                            <h2 class="mb-0">₵{{ day_total }}</h2>
                                        </div>
                                        <div class="float-right icon-circle-medium  icon-box-lg  bg-brand-light mt-1">
                                            <i class="fa fa-money-bill-alt fa-fw fa-sm text-brand"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
{#                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">#}
{#                                <div class="card">#}
{#                                    <div class="card-body">#}
{#                                        <div class="d-inline-block">#}
{#                                            <h5 class="text-muted">No. of goods sold</h5>#}
{#                                            <h2 class="mb-0"> 30</h2>#}
{#                                        </div>#}
{#                                        <div class="float-right icon-circle-medium  icon-box-lg  bg-brand-light mt-1">#}
{#                                            <i class="fa fa-money-bill-alt fa-fw fa-sm text-brand"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                        <div class="row">
                            <!-- ============================================================== -->
                      
                            <!-- ============================================================== -->

                                          <!-- recent orders  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">Products</h5>
                                    <div class="card-body p-2">
                                        <div class="table-responsive">
                                            <table class="table" id="myTable">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0">Category</th>
                                                        <th class="border-0">Product Name</th>
                                                        <th class="border-0">Quantity Available</th>
                                                        <th class="border-0">Price</th>
                                                        <th class="border-0">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="table-body">
                                                    {% if products %}
                                                        {% for product in products %}
                                                            <tr>
                                                                <td>{{ product.category }}</td>
                                                                <td>{{ product.name | capfirst }} {{ product.size }}</td>
                                                                {% if product.quantity_available == 0 %}
                                                                    <td><small class="badge badge-danger">Out of stock</small></td>
                                                                {% else %}
                                                                    <td>{{ product.quantity_available }}</td>
                                                                {% endif %}
                                                                <td>₵{{ product.price }}</td>
                                                                {% csrf_token %}
                                                                <input type="hidden" class="prod_id" value="{{ product.id }}">
                                                                <td class="addToCartFromHome"><i class="fa fa-fw fa-cart-plus text-success"></i></td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end recent orders  -->

    
                            <!-- ============================================================== -->
                            <!-- ============================================================== -->
                            <!-- customer acquistion  -->
                            <!-- ============================================================== -->
                            <!--<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">-->
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="cart-box">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="d-flex justify-content-between align-items-center mb-0">
                                                    <span class="text-muted">Cart</span>
                                      <span class="badge badge-secondary badge-pill">{{ count }}</span>
                                             </h4>
                                    </div>
                                    <div class="card-body">
                                        <form action="" method="post">
                                        {% csrf_token %}
                                        {% if cart_items %}
                                            {% if not shop.has_cashier %}
                                                <details>
                                                <summary>Add Purchase Info</summary>
                                                <input name="customer-name" class="form-control mb-1" type="text" placeholder="Customer Name">
                                                <input name="customer-phone" class="form-control mb-1" type="text" placeholder="Customer Phone">
                                                <input name="customer-amount" class="form-control mb-2 customer-amount" type="number" placeholder="Amount Paid">
                                                <input name="discount" class="form-control mb-2 discount" type="number" placeholder="Discount Price">
                                                    <select name="payment-mode" class="form-control">
                                                    <option>Cash</option>
                                                    <option>MoMo</option>
                                                    <option>Card</option>
                                                </select>
                                                <hr>
                                                </details>
                                                {% endif %}
                                        {% endif %}
                                        <ul class="list-group mb-3">
                                            {% if cart_items %}
                                                {% for cart_item in cart_items %}
                                                    <li class="list-group-item d-flex justify-content-between cart-list-item">
                                                    {% csrf_token %}
                                                        <input type="hidden" value="{{ cart_item.id }}" class="cart_item_id">
                                                        <div>
                                                            <h6 class="my-0">{{ cart_item.product.name }}</h6>
                                                            <small class="text-muted">Qty: {{ cart_item.product_qty }}</small>
                                                        </div>
                                                        <span class="text-muted">₵{{ cart_item.product.price }}</span>
                                                        <a class="text-muted"><i class="fa fa-fw fa-minus deleteCartItem"></i></a>
                                                    </li>
                                                {% endfor %}
                                            {% endif %}
                                            <li class="list-group-item d-flex justify-content-between">
                                                <span>Total (GHS)</span>
                                                <input class="cart-total" value="{{ cart_total }}" type="hidden">
                                                <strong class="cart-total">₵{{ cart_total }}</strong>
                                            </li>
                                            {% if not shop.has_cashier %}
                                            <li style="display: none" class="list-group-item d-flex justify-content-between balance-row">
                                                <span>Balance (GHS)</span>
                                                <strong class="cart-balance"></strong>
                                            </li>
                                            <li style="display: none" class="list-group-item d-flex justify-content-between discount-row">
                                                <span>Discounted Price (GHS)</span>
                                                <strong class="discount-price"></strong>
                                            </li>
                                            {% endif %}
                                            <li class="list-group-item d-flex justify-content-end">
                                                {% if cart_items %}
                                                    {% if shop.has_cashier %}
                                                        <a href="{% url 'send_to_cashier' %}" type="submit" class="btn btn-sm btn-success">Send to Cashier</a>
                                                    {% else %}
                                                        <button type="submit" class="btn btn-sm btn-success">Sell</button>
                                                    {% endif %}
                                                {% else %}
                                                    <button disabled class="btn btn-sm btn-success">Sell</button>
                                                {% endif %}

                                            </li>
                                        </ul>
                                        </form>
                                    </div>
                                </div>
                                </div>
                            </div>

                            <!-- ============================================================== -->
                            <!-- end customer acquistion  -->
                            <!-- ============================================================== -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                             <a href="https://michael.dedreamteam.com">Copyright © 2023 de Dream Team. All rights reserved.</a>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="https://michael.dedreamteam.com">About</a>
                                <a href="mailto:codeage20@gmail.com">Support</a>
                                <a href="tel:+233242442147">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
{% endblock %}

{% block scripts %}
    <script>
        let amount = document.querySelector(".customer-amount")
        $("body").on("keyup", ".customer-amount", function () {
            let amount_entered = this.value
        if (amount_entered === ""){
            $(".balance-row").css('display', 'none')
            $(".cart-balance").text("")
        }else{
            if ($(".discount").val() !== ""){
                let discount_price = $(".cart-total").val() - $(".discount").val()
                console.log(discount_price)
                document.querySelector(".discount-price").textContent = discount_price.toString()
                console.log(this.value)
                console.log($(".customer-amount").val())
                document.querySelector(".cart-balance").textContent = ($(".customer-amount").val() - discount_price).toString()
            }else{
            let cart_total = document.querySelector(".cart-total").value
            let balance = amount_entered - cart_total
            $(".balance-row").css('display', 'flex')
            document.querySelector(".cart-balance").textContent = balance.toString()
        }}
        } )

        $("body").on("keyup", ".discount", function(){
            let amount_entered = this.value
            if (amount_entered === ""){
                $(".discount-row").css('display', 'none')
                $(".discount-price").text("")
                let balance = $(".customer-amount").val()-$(".cart-total").val()
                $(".cart-balance").text(balance)
            }else{
                let discounted_price = parseFloat(document.querySelector(".cart-total").value) - parseFloat(this.value)
                $(".discount-row").css('display', 'flex')
                document.querySelector(".discount-price").textContent = discounted_price.toString()
                document.querySelector(".cart-balance").textContent = ($(".customer-amount").val() - (discounted_price)).toString()
            }

        })
    </script>
{% endblock %}