{% extends 'base.html' %}
{% block content %}
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        {% include 'inc/header.html' %}
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        {% include 'inc/sidenav.html' %}
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
{#                    <div class="row">#}
{#                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">#}
{#                            <div class="page-header">#}
{#                                <h2 class="pageheader-title">{{ shop_name }} - Invoice</h2>#}
{#                                <p class="pageheader-text">Sales Invoice.</p>#}
{#                                <div class="page-breadcrumb">#}
{#                                    <nav aria-label="breadcrumb">#}
{#                                        <ol class="breadcrumb">#}
{#                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Sale</a></li>#}
{#                                            <li class="breadcrumb-item active" aria-current="page">Invoice</li>#}
{#                                        </ol>#}
{#                                    </nav>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="mx-auto col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="mx-auto card invoice-card" style="width: 20rem" id="invoice">
                                <div class="card-header p-4">
                                     <h3 class="pt-2 d-inline-block">{{ shop_name }}</h3>
                                   
                                    <div class=""> <h4 class="mb-0">Invoice #{{ num }}</h4>
                                    Date: {{ date }}</div>
                                </div>
                                <div class="card-body">
                                    <div class="row mb-4">
                                        <div class="col-sm-6">
                                            <h5 class="mb-3">From:</h5>                                            
                                            <h6 class="text-dark mb-1">{{ request.user }}</h6>
                                         
{#                                            <div><p>{{ shop_name }}</p></div>#}
                                            <div><h6>Phone: 233{{ request.user.phone_number }}</h6></div>
                                        </div>
                                        <div class="col-sm-6">
                                            <h5 class="mb-3">To:</h5>
                                            <h6 class="text-dark mb-1">{{ name }}</h6>
                                            <div><h6>Phone: {{ phone }}</h6></div>
                                        </div>
                                    </div>
                                    <div class="table-responsive-sm">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Item</th>
                                                    <th class="right">Unit Cost</th>
                                                    <th class="center">Qty</th>
                                                    <th class="right">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in items %}
                                                <tr>
                                                    <td class="left strong">{{ item.product }}(item.product.category)</td>
                                                    <td class="right">GHS{{ item.price }}</td>
                                                    <td class="center">{{ item.quantity }}</td>
                                                    <td class="right">GHS{{ item.total_price }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-5">
                                        </div>
                                        <div class="col-lg-4 col-sm-5">
                                            <table class="table table-clear">
                                                <tbody>
                                                    <tr>
                                                        <td class="left">
                                                            <strong class="text-dark">Total</strong>
                                                        </td>
                                                        <td class="right">
                                                            <strong class="text-dark">GHS{{ total }}</strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="left">
                                                            <strong class="text-dark">Paid</strong>
                                                        </td>
                                                        <td class="right">
                                                            <strong class="text-dark">GHS{{ amount_paid }}</strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="left">
                                                            <strong class="text-dark">Balance</strong>
                                                        </td>
                                                        <td class="right">
                                                            <strong class="text-dark">GHS{{ balance }}</strong>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-white">
                                    <p class="mb-0">Thank you! Come back again.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button onclick="printDiv('invoice')" class="mx-auto btn btn-success">Print Invoice <i class="fa fa-fw fa-print"></i></button>
                </div>
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                <div class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                Copyright © 2023 de Dream Team. All rights reserved.
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="text-md-right footer-links d-none d-sm-block">
                                    <a href="javascript: void(0);">About</a>
                                    <a href="javascript: void(0);">Support</a>
                                    <a href="javascript: void(0);">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end footer -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end wrapper  -->
            <!-- ============================================================== -->
        </div>
    </div>
        <!-- ============================================================== -->
        <!-- end main wrapper  -->
        <!-- ============================================================== -->
        <!-- Optional JavaScript -->
        <!-- jquery 3.3.1 -->
{% endblock %}