{% extends 'base.html' %}

{% block content %}

        <div class="dashboard-main-wrapper">
            {% include 'inc/header.html' %}

            {% include 'inc/sidenav.html' %}

            <div class="dashboard-wrapper">
                <div class="dashboard-ecommerce">
                    <div class="container-fluid dashboard-content ">
                        <!-- ============================================================== -->
                        <!-- pageheader  -->
                        <!-- ============================================================== -->
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="page-header">
                                    <h2 class="pageheader-title">Restock History</h2>
                                    <div class="page-breadcrumb">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Product</a></li>
                                                <li class="breadcrumb-item active" aria-current="page">Restock History</li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Restock History</h5>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table" id="myTable">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Personnel</th>
                                                    <th>Product</th>
                                                    <th>Quantity Stocked</th>
                                                    <th>Price</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% if items %}
                                                    {% for item in items %}
                                                        <tr>
                                                            <td>{{ item.restock_date }}</td>
                                                            <td class="font-bold">{{ item.user }}</td>
                                                            <td>{{ item.product | capfirst }}</td>
                                                            <td>{{ item.quantity }}</td>
                                                            <td><span class="font-weight-bold">₵</span>{{ item.price }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                {% else %}
                                                    <p>No products available yet</p>
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div> <!-- Dashboard Content End -->
                </div>
            </div>

        </div>
{% endblock %}