<div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                <a href="{% url 'home' %}"><i class="fa fa-fw fa-home"></i> Home</a>
                            </li>
                            <li class="nav-divider">
                               <i class="fa fa-fw fa-box-open"></i> Products
                            </li>
                            <li class="nav-item ">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <div id="submenu-1-2" class="" style="">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'add_product' %}">Add Product</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'product_list' %}">Product List</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'sales_for_the_day' %}">Products Sold</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'out_of_stock' %}">Out of Stock</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>


                            <li class="nav-divider">
                                Category
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fa-object-group"></i> Category </a>
                                <div id="submenu-6" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'add_category' %}">Add Category</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>


                            <li class="nav-divider">
                                Admin Panel
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-7" aria-controls="submenu-6"><i class="fas fa-fw fa-shopping-cart"></i>Admin </a>
                                <div id="submenu-7" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'all_sales' %}">All Sales</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'everyday_sales' %}">Individual Sales Total</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>


                        </ul>
                    </div>
                </nav>
            </div>
        </div>