 {% load static %}
   <!-- ============================================================== -->
    <!-- end login page  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>

        <script>
            {% for msg in messages %}
                {% if msg.tags == "success" %}
                Swal.fire({
                    text: "{{ msg }}",
                    icon: 'success'
                })
                {% elif msg.tags == "info" %}
                Swal.fire({
                    text: "{{ msg }}",
                    icon: 'info'
                })
                {% else %}
                Swal.fire({
                    text: "{{ msg }}",
                    icon: 'error'
                })
                {% endif %}
            {% endfor %}
        </script>
</body>

</html>